USE [master]
GO
/****** Object:  Database [InForno]    Script Date: 15/03/2024 11:57:41 ******/
CREATE DATABASE [InForno]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InForno', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\InForno.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'InForno_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\InForno_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InForno].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InForno]
GO
/****** Object:  UserDefinedFunction [dbo].[ConvertiDollariInEuro]    Script Date: 15/03/2024 11:57:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ConvertiDollariInEuro](@prezzoInDollari DECIMAL(19, 4), @tassoDiCambio DECIMAL(19, 6))
RETURNS DECIMAL(19, 4)
AS
BEGIN
    RETURN @prezzoInDollari * @tassoDiCambio
END

GO
/****** Object:  Table [dbo].[Aggiunzione]    Script Date: 15/03/2024 11:57:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aggiunzione](
	[IdAggiunzione] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](50) NOT NULL,
	[Prezzo] [money] NOT NULL,
 CONSTRAINT [PK_dbo.Aggiunzione] PRIMARY KEY CLUSTERED 
(
	[IdAggiunzione] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DettaglioOrdine]    Script Date: 15/03/2024 11:57:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DettaglioOrdine](
	[IdDettaglioOrdine] [int] IDENTITY(1,1) NOT NULL,
	[Quantita] [int] NOT NULL,
	[IdAggiunzione] [int] NULL,
	[IdProdotto] [int] NOT NULL,
	[IdOrdine] [int] NOT NULL,
 CONSTRAINT [PK_dbo.DettaglioOrdine] PRIMARY KEY CLUSTERED 
(
	[IdDettaglioOrdine] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ordine]    Script Date: 15/03/2024 11:57:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ordine](
	[IdOrdine] [int] IDENTITY(1,1) NOT NULL,
	[Evaso] [bit] NOT NULL,
	[Concluso] [bit] NOT NULL,
	[Data] [date] NOT NULL,
	[TempoConsegna] [nvarchar](50) NULL,
	[Commento] [nvarchar](max) NOT NULL,
	[Indirizzo] [nvarchar](max) NULL,
	[Importo] [money] NOT NULL,
	[IdUser] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Ordine] PRIMARY KEY CLUSTERED 
(
	[IdOrdine] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prodotto]    Script Date: 15/03/2024 11:57:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prodotto](
	[IdProdotto] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](50) NOT NULL,
	[Foto] [nvarchar](max) NOT NULL,
	[Prezzo] [money] NOT NULL,
	[Ingredienti] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Prodotto] PRIMARY KEY CLUSTERED 
(
	[IdProdotto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 15/03/2024 11:57:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[IdUser] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](50) NULL,
	[Cognome] [nvarchar](50) NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Ruolo] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.User] PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_IdAggiunzione]    Script Date: 15/03/2024 11:57:42 ******/
CREATE NONCLUSTERED INDEX [IX_IdAggiunzione] ON [dbo].[DettaglioOrdine]
(
	[IdAggiunzione] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_IdOrdine]    Script Date: 15/03/2024 11:57:42 ******/
CREATE NONCLUSTERED INDEX [IX_IdOrdine] ON [dbo].[DettaglioOrdine]
(
	[IdOrdine] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_IdProdotto]    Script Date: 15/03/2024 11:57:42 ******/
CREATE NONCLUSTERED INDEX [IX_IdProdotto] ON [dbo].[DettaglioOrdine]
(
	[IdProdotto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_IdUser]    Script Date: 15/03/2024 11:57:42 ******/
CREATE NONCLUSTERED INDEX [IX_IdUser] ON [dbo].[Ordine]
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DettaglioOrdine]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DettaglioOrdine_dbo.Aggiunzione_IdAggiunzione] FOREIGN KEY([IdAggiunzione])
REFERENCES [dbo].[Aggiunzione] ([IdAggiunzione])
GO
ALTER TABLE [dbo].[DettaglioOrdine] CHECK CONSTRAINT [FK_dbo.DettaglioOrdine_dbo.Aggiunzione_IdAggiunzione]
GO
ALTER TABLE [dbo].[DettaglioOrdine]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DettaglioOrdine_dbo.Ordine_IdOrdine] FOREIGN KEY([IdOrdine])
REFERENCES [dbo].[Ordine] ([IdOrdine])
GO
ALTER TABLE [dbo].[DettaglioOrdine] CHECK CONSTRAINT [FK_dbo.DettaglioOrdine_dbo.Ordine_IdOrdine]
GO
ALTER TABLE [dbo].[DettaglioOrdine]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DettaglioOrdine_dbo.Prodotto_IdProdotto] FOREIGN KEY([IdProdotto])
REFERENCES [dbo].[Prodotto] ([IdProdotto])
GO
ALTER TABLE [dbo].[DettaglioOrdine] CHECK CONSTRAINT [FK_dbo.DettaglioOrdine_dbo.Prodotto_IdProdotto]
GO
ALTER TABLE [dbo].[Ordine]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Ordine_dbo.User_IdUser] FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([IdUser])
GO
ALTER TABLE [dbo].[Ordine] CHECK CONSTRAINT [FK_dbo.Ordine_dbo.User_IdUser]
GO
USE [master]
GO
